@model LessonDTO

<div class="container">
    <h2 class="text-light">Create New Lesson for @Model.ModuleDTO.Title</h2>

    <form asp-action="CreateLesson" asp-route-moduleId="@Model.ModuleId" method="post" class="bg-dark p-4 rounded">
        @Html.AntiForgeryToken()

        <input asp-for="ModuleId" hidden/>
        <div class="mb-3">
            <label for="Title" class="form-label text-light">Lesson Title</label>
            <input asp-for="Title" class="form-control bg-secondary text-light" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="Content" class="form-label text-light">Lesson Content</label>
            <textarea asp-for="Content" class="form-control tinymce"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Create Lesson</button>
        <a asp-action="ManageLessons" asp-route-moduleId="@Model.ModuleDTO.Id" class="btn btn-secondary">Cancel</a>
    </form>
</div>
